<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Diseases</title>
    <link rel="icon" href="{% static 'appportal/images/favicon6.jpg'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <style>
    a:hover{
        color:rgb(223, 25, 237) !important;
      }
    </style>
</head>
<body>
    {% include 'navbar.html'%}

    
    <!-- <div class="width:30%;height:600px;float:left">
    <iframe width="400" height="400" src="https://www.youtube.com/embed/_ZV5140OykE" title="The Role of Red Blood Cells in Anemia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </iframe>
    </div>
    <div style="width:70%;background-color:blanchedalmond;float:left">
    </div> -->
    <div style="width:30%;height:1000px;background-color:rgb(249, 252, 249);float:left">
       
        <div class=" bg-info;"style="margin-top:130px;width:20%;" class="text-danger"> <iframe width="410" height="400" src="https://www.youtube.com/embed/_ZV5140OykE" title="The Role of Red Blood Cells in Anemia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </iframe>
        
           
        </div>
        <div class=" bg-info;"style="margin-top:130px;width:20%;" class="text-danger"> <iframe width="410" height="400" src="https://www.youtube.com/embed/ZSChz4HoDoQ" title="Quantitative WBC Disorders: Leukocytosis & Leukopenia – Pathology | Lecturio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </iframe>
        
           
        </div>

    </div>
        <p style="font-size:50px;color:rgb(255, 0, 0)"><strong>Diseases Related to Blood </strong></p>
        
        <div style="width:70%;margin-top:0px;float:left;"><h1 style="color:rgb(16, 41, 229);"><u> Red blood cell disorders</u></h1>
            <p style="font-size:20px;margin-left:10px;">Red blood cells transport oxygen throughout the body. You can develop a red blood cell disorder if a component of these blood cells is not working properly. Red blood cell disorders include.These disorders include hemoglobin C disease, hemoglobin S-C disease, sickle cell anemia and various types of thalassemia. Specializing In: Atypical Hemolytic Uremic Syndrome (aHUS)</p>
            <p style="font-size:20px;margin-left:10px;color:rgb(6, 146, 246)">Common symptoms of WBC disorders</p>
            <ul>
                <li>Weakness</li>
                <li>Fatigue</li>
                <li>Rapid heartbeat</li>
                <li>Trouble focusing</li>
            </ul>
        <ul>
            <li><a href="https://my.clevelandclinic.org/health/diseases/3929-anemia"><b>Anemia</b></a></li>
            <li><a href="https://my.clevelandclinic.org/health/diseases/17742-polycythemia-vera"><b>Polycythemia Vera</b></a></li>
            <li><a href="https://my.clevelandclinic.org/health/diseases/12100-sickle-cell-disease"><b>Sickle Cell Diseases</b></a></li>
            <li><a href="https://my.clevelandclinic.org/health/diseases/14508-thalassemias"><b>Thalassemias</b></a></li>
        </ul>
         </div>
         <div style="width:70%;margin-top:103px;float:left;"><h1 style="color:rgb(16, 41, 229);"><u> White blood cell disorders</u></h1>
            <p style="font-size:20px;margin-left:10px;">White blood cells are mainly produced in the bone marrow. Unless you have an infection or a blood disorder, you produce about 100 billion white blood cells each day. There are five types of white blood cells: basophils, eosinophils, lymphocytes, monocytes and neutrophils. Each type of white blood cell has its own special function in your blood.

                Blood disorders involving abnormally low levels of white blood cells are called leukopenias. If you have leukopenia, you are at increased risk for infections.
                
                A blood disorder involving abnormally high levels of white blood cells is called leukocytosis.)</p>
            <p style="font-size:20px;margin-left:10px;color:rgb(6, 146, 246)">Common symptoms of RBC disorders</p>
            <ul>
                <li>Infection</li>
                <li>Inflammation</li>
                <li>Excessive physical or emotional stress</li>
                <li>Thyroids Problem</li>
            </ul>
        <ul>
            <li><a href="https://www.webmd.com/a-to-z-guides/sepsis-septicemia-blood-infection"><b>Infection</b></a></li>
            <li><a href="https://my.clevelandclinic.org/health/diseases/21751-genetic-disorders"><b>Genetic Disorder</b></a></li>
            <li><a href="https://en.wikipedia.org/wiki/Cancer"><b>Cancer</b></a></li>
            
        </ul>
         </div>
</body>
</html>