<html lang="en">
  {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
    <link rel="icon" href="{% static 'appportal/images/favicon6.jpg'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>
    {% include 'navbar.html'%}
    <h1 style="text-align:center;color:rgb(228, 16, 16)">Your Feedback is Valuable for us</h1>
    
    <div class="row mt-3"style="margin-left:500px;">
      
      <div class="col-6 bg-info">
   <!-- <form method="POST" action="/feedback/">
    {% csrf_token %}
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="txtname" placeholder="Enter Your Name ">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Enter yor feedback</label>
      <textarea class="form-control" name="txtfeedback" rows="3" placeholders="Enter your feedback"></textarea>
    </div>

    <div class="mb-3">
      <lable for="rating" class="form-lable"> Rating </lable>
    <select name="txtrate" class="form-select">
        <option value="default">Select Rating</option>
        <option value="good">1</option>
        <option value="better">2</option>
        <option value="best">3</option>
        <option value="excellent">4</option>
        <option value="outstanding">5</option>
    </select>
  </div>
  <button type="submit" class=" btn btn-primary">Submit</button>
    
  </form>
</div>
</div> -->
<form method="POST" action="/feedback/" class="needs-validation" novalidate>
  {% csrf_token %}

 <div class="mb-3">
   <label for="name" class="form-label">Enter your Name</label>
   <input type="text" required class="form-control" name="txtname" placeholder="Enter your Name">
 </div>
 <div class="mb-3">
    <label for="name" class="form-label">Enter your Email</label>
    <input type="email" required class="form-control" name="txtemail" placeholder="Enter your Email">
  </div>
  
 <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Enter your Feedback</label>
    <textarea class="form-control" required name="txtfeedback" rows="3" placeholders="Enter your Feedback"></textarea>
  </div>
  <div class="mb-3">
    <lable for="rating" class="form-lable"> Rating </lable>
    <select name="txtrate" class="form-select" required>
      <option value="default">Select Rating</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
  </select>
</div>


<button type="reset" class="btn btn-success">Reset</button>
 <button type="submit" class=" btn btn-primary">Submit</button>
</form>
</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="{%static 'appportal/js/validation.js'%}"></script>
    {% include 'footer.html'%}
</body>
</html>